.bot-n-continuar {
  align-items: flex-start;
  display: flex;
  min-width: 319px;
}

.bot-n-continuar .overlap-group {
  height: 71px;
  position: relative;
  width: 319px;
}

.bot-n-continuar .rectangle {
  background-color: #aeaeae;
  border: 1.2px solid;
  border-color: #4f4f4f;
  border-radius: 18px;
  height: 71px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 243px;
}

.bot-n-continuar .continuar {
  align-items: center;
  color: #ffffffb0;
  display: flex;
  font-family: "Manrope-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 44px;
  justify-content: center;
  left: 0;
  letter-spacing: 1px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 319px;
}
